body
{
  margin: 0;
  padding: 0;
  background-color: #2196F3;
  font-family: Roboto;
  align-content: center;
}
h1{
  font-size: 500%;
}
textarea{
  border-color: black;
  width: 80%;
  height: 30vh;
  resize: none;
}
input
{
  border-radius: 8px;
  border: none;
  font-size: 300%;
  width: 80%;
  height: 15vh;
  background-color: #092944;
  color: white;
}
input:hover
{
  background-color: #0F2C44;
}

#video{
  display:none;
}
